@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>To Do List</h1>
  <a href='/categories'><button class='btn btn-info'>View Categories</button></a>
  <a href='/categories/new'><button class='btn btn-warning'>Add Category</button></a>
</div>
