@{
  Layout = "_Layout";
}


<div class="container">
  <h1>Add a new item to @Model.GetName()</h1>
  <form action='/items' method='post'>
    <input id='categoryId' name='categoryId' type='hidden' value='@Model.GetId()'>
    <label for='itemDescription'>Item description</label>
    <input id='itemDescription' name='itemDescription' type='text'>
    <button type='submit' class='btn btn-danger'>Add item</button>
  </form>
  <a href='/categories'><button class='btn btn-info'>View Categories</button></a>
  <a href='/'><button class='btn btn-success'>Back Home</button></a>

</div>
