@{
  Layout = "_Layout";
}


<div class="container">
  <h1>To Do List</h1>
  <hr />
  <h2>Add a new item</h2>
  <form action='/items' method='post'>
    <fieldset>
      <legend>Select Categories to add Item to</legend>
      @foreach (var category in Model)
      {
      <div class="form-group">
        <input type='checkbox' id='category' name='category' value="@category.GetId()" />
        <label for='categories'>@category.GetName()</label>
      </div>
      }
    </fieldset>
    <div class="form-group">
      <label for='itemDescription'>Item description</label>
      <input id='itemDescription' name='itemDescription' type='text'>
    </div>
    <div class="form-group">
      <label for='dueDate'>Due Date</label>
      <input id='dueDate' name='dueDate' type='date'>
    </div>
    <button type='submit' class='btn btn-danger'>Add Item</button>
  </form>
  <a href='/categories'><button class='btn btn-info'>View Categories</button></a>
  <a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>
