@{
  Layout = "_Layout";
}

<div class='container'>
  <h1>To Do List</h1>
  <hr />
  <h2>@Model["items"].GetDescription()</h2>
  <h3>Due on @Model["items"].GetDueDate()</h3>
  <a href = '/items/new'><button class='btn btn-danger'>Add Item</button></a>
  @foreach (var category in Model["categories"])
  {
    <a href = '/categories/@category.GetId()'><button class='btn btn-warning'>View "@category.GetName()"</button></a>
  }
  <a href='/'><button class='btn btn-success'>Back Home</button></a>
</div>
